.container{
  color:#424242;
  margin: auto;
  width: 1000px;
  height: 1000px;
  border:1px solid rgb(236, 231, 231);
  cursor: pointer;

 
}
.childcontainer{
  height: 80px;
border:1px solid rgb(236, 231, 231);
margin: auto;
padding-left: 80px;
padding-top: 1px;
box-shadow: 0px 3px 30px #7b7b7b29;
font: normal normal bold 40px/69px Inter;
cursor: pointer;

}
.list{
color: #00A5EC;
}
.icon{
position: absolute;
top: 120px;
left:950px;
font-size: 40px;
color: #00A5EC;
}
.ant{
 position: absolute;
left:1000px;
top:130px;
font-size: 18px;
color:black ;
}
a{
  text-decoration: none;
  
}
.flex-container{
  width: 100%;
  height: 900px;

  display: flex ;
  flex-flow:row wrap ;
 
}
#child1{
  width: 250px;
  height: 300px;
 line-height: 35px;
padding: 5px 5px 5px 5px;
 margin: 80px 0px 0px 60px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 5px solid #EDEDED;
border-radius: 10px;
opacity: 1;
box-sizing: border-box;

transition-property:all;
transition-duration: 0.3s;
transition-timing-function: ease-out;

}
#child1:hover{
  width:251px;
  height: 301px;
}

.checkbox1{
text-decoration: line-through;
}
h3{
  color: blue;

}